@model IEnumerable<SCM.Models.ViewModels.TenantViewModel>

@{
    ViewData["Title"] = "Tenants";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item active">Tenants</li>
</ol>

<h2>Tenants</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TenantID }) |
                @Html.ActionLink("Details", "Details", new { id=item.TenantID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TenantID }) |
                @Html.ActionLink("Attachments", "GetAllByTenantID", "Attachment", new { id = item.TenantID }) |
                @Html.ActionLink("Attachment Sets", "GetAllByTenantID", "AttachmentSet", new { id = item.TenantID }) |
                @Html.ActionLink("Networks", "GetAllByTenantID", "TenantNetwork", new {id = item.TenantID}) |
                @Html.ActionLink("Communities", "GetAllByTenantID", "TenantCommunity", new { id = item.TenantID })
            </td>
        </tr>
}
    </tbody>
</table>
