@model SCM.Models.ViewModels.DeviceViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<p class="text-danger">@ViewData["SyncErrorMessage"]</p>
<p class="text-success">@ViewData["SyncSuccessMessage"]</p>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plane.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.SiteName)
        </dd>
    </dl>
</div>
<form asp-action="">
    <input type="hidden" asp-for="ID" name="id"/>
    <div class="form-actions no-color">
        <input type="submit" asp-action="CheckSync" value="Check Sync" class="btn btn-default" /> |
        <input type="submit" asp-action="Sync" value="Sync" class="btn btn-default" /> |
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        <a asp-action="GetAll">Back to List</a>
    </div>
</form>
