@model SCM.Models.ViewModels.VpnTenantCommunityViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Remove</h2>

@if (@ViewData["ConcurrencyErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ConcurrencyErrorMessage"]</div>
}


<h3>Are you sure you want to remove this Tenant Community from the VPN?</h3>
<div>
    <h4>Tenant Community</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantCommunity.AutonomousSystemNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantCommunity.AutonomousSystemNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantCommunity.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantCommunity.Number)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VpnTenantCommunityID" />
        <input type="hidden" asp-for="VpnAttachmentSetID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            <a asp-action="GetAllByVpnAttachmentSetID" asp-route-id="@Model.VpnAttachmentSetID">Back to List</a>
        </div>
    </form>
</div>
