@model SCM.Models.ViewModels.VpnTenantCommunityViewModel

@{
    ViewData["Title"] = "Delete";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPNs</a></li>
    <li class="breadcrumb-item"><a href="/VpnAttachmentSet/GetAllByVpnID/@Model.VpnAttachmentSet.Vpn.VpnID">VPN Attachment Sets - [@Model.VpnAttachmentSet.Vpn.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantCommunity/GetAllByVpnAttachmentSetID/@Model.VpnAttachmentSet.VpnAttachmentSetID">VPN Tenant Communities - [@Model.VpnAttachmentSet.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Delete - [@Model.TenantCommunity.AutonomousSystemNumber:@Model.TenantCommunity.Number]</li>
</ol>

<h2>Remove</h2>

@if (@ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

<h3>Are you sure you want to remove this Tenant Community from VPN '@Model.VpnAttachmentSet.Vpn.Name' ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantCommunity.AutonomousSystemNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantCommunity.AutonomousSystemNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantCommunity.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantCommunity.Number)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VpnTenantCommunityID" />
        <input type="hidden" asp-for="VpnAttachmentSetID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            <a asp-action="GetAllByVpnAttachmentSetID" asp-route-id="@Model.VpnAttachmentSetID">Back to List</a>
        </div>
    </form>
</div>
