@model SCM.Models.ViewModels.BundleInterfaceVlanViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vlan for bundle interface @ViewBag.BundleInterface.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BundleInterface.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BundleInterface.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLayer3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLayer3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VlanTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlanTag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubnetMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubnetMask)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BundleInterfaceVlanID }) |
    <div>
        <a asp-action="GetAllByBundleInterfaceID" asp-route-id="@ViewBag.BundleInterface.BundleInterfaceID">Back to List</a>
    </div>
</div>
