@model SCM.Models.ViewModels.AttachmentSetViewModel

@{
    ViewData["Title"] = "CreateStep2";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@ViewBag.Tenant.TenantID">Attachment Sets</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Create Attachment Set for Tenant '@ViewBag.Tenant.Name'</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Attachment Set</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="RegionID" value="@ViewBag.Region.RegionID" />
        <input type="hidden" asp-for="TenantID" value="@ViewBag.Tenant.TenantID" id="id" />
        <div class="form-group">
            <label asp-for="SubRegion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SubRegionID" class="form-control" asp-items="ViewBag.SubRegionID">
                    <option value="">-- Optionally Select Sub-Region --</option>
                </select>
                <span asp-validation-for="SubRegionID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AttachmentRedundancy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AttachmentRedundancyID" class="form-control" asp-items="ViewBag.AttachmentRedundancyID">
                    <option value="">-- Select Attachment Redundancy --</option>
                </select>
                <span asp-validation-for="AttachmentRedundancyID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" asp-action="Create" asp-route-tenantID = "@Context.Request.Query["tenantID"]" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantID" asp-route-id="@ViewBag.TenantID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
