@model SCM.Models.ViewModels.AttachmentSetViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attachment Set</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractBandwidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractBandwidth.BandwidthKbps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubRegion.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubRegion.Region.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubRegion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubRegion.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentRedundancy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentRedundancy.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.AttachmentSetID  }) |
    <a asp-action="GetAll">Back to List</a>
</div>
