@model SCM.Models.ViewModels.RouteTargetViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPNs</a></li>
    <li class="breadcrumb-item"><a href="/RouteTarget/GetAllByVpnID/@Model.VpnID">Route Targets - [@ViewBag.Vpn.Name]</a></li>
    <li class="breadcrumb-item active">Details - [@Model.AdministratorSubField @Model.AssignedNumberSubField]</li>
</ol>

<h2>Details for Route Target '@Model.AdministratorSubField : @Model.AssignedNumberSubField' </h2>

<div>
    <h4>Route Target</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vpn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vpn.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdministratorSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdministratorSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedNumberSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedNumberSubField)
        </dd>
@if (ViewBag.Vpn.VpnTopologyType.TopologyType == "Hub-and-Spoke")
{
        <dt>
            @Html.DisplayNameFor(model => model.IsHubExport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsHubExport)
        </dd>
}
    </dl>
</div>
<div>
    <a asp-action="GetAllByVpnID" asp-route-id = "@Model.VpnID" asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to List</a>
</div>
