@model SCM.Models.ViewModels.RouteTargetViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route Target</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vpn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vpn.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdministratorSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdministratorSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedNumberSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedNumberSubField)
        </dd>
@if (ViewBag.Vpn.VpnTopologyType.TopologyType == "Hub-and-Spoke")
{
        <dt>
            @Html.DisplayNameFor(model => model.IsHubExport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsHubExport)
        </dd>
}
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RouteTargetID }) |
    <a asp-action="GetAllByVpnID" asp-route-id = "@Model.VpnID">Back to List</a>
</div>
