@model SCM.Models.ViewModels.AttachmentInterfaceViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>


@if (@ViewData["DeleteErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["DeleteErrorMessage"]</div>
}

@if (@ViewData["ConcurrencyErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ConcurrencyErrorMessage"]</div>
}

@if (@ViewData["SyncErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["SyncErrorMessage"]</div>
}

@if (@ViewData["SyncSuccessMessage"] != null)
{
    <div class="alert alert-success">@ViewData["SyncSuccessMessage"]</div>
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Port.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Port.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Port.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Port.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.SiteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLayer3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLayer3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTagged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTagged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bandwidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bandwidth.BandwidthGbps)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <div class="form-actions no-color">
            <input type="submit" asp-action="DeleteFromNetwork" asp-route-TenantID="@ViewBag.Tenant.TenantID" value="Delete Network Only" class="btn btn-default" /> |
            <input type="submit" value="Delete" asp-route-TenantID="@ViewBag.Tenant.TenantID" class="btn btn-default" /> |
            <a asp-action="GetByTenantID" asp-route-id="@ViewBag.Tenant.TenantID" asp-controller="TenantAttachments">Back to Attachments List</a>
        </div>
    </form>
</div>
