@model SCM.Models.ViewModels.AttachmentViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Attachment/GetAllByTenantID/@Model.TenantID">Attachments</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>

<h2>Details for Attachment '@Model.Name'</h2>

@if (@ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@Html.Raw(ViewData["ErrorMessage"])</div>
}

@if (@ViewData["SuccessMessage"] != null)
{
    <p class="alert alert-success">@Html.Raw(ViewData["SuccessMessage"])</p>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        @if (Model.IsMultiPort)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsMultiPort)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsMultiPort)
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsBundle)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsBundle)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.SiteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Device.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plane.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLayer3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLayer3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTagged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTagged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentBandwidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentBandwidth.BandwidthGbps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractBandwidthPool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractBandwidthPool.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractBandwidthPool.ContractBandwidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractBandwidthPool.ContractBandwidth.BandwidthMbps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrf.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrf.AdministratorSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.AdministratorSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrf.AssignedNumberSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.AssignedNumberSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubnetMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubnetMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiresSync)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiresSync)
        </dd>
    </dl>
</div>
<form asp-action="">
    <input type="hidden" asp-for="AttachmentID" name="id" />
    <input type="hidden" asp-for="IsBundle" />
    <input type="hidden" asp-for="IsMultiPort" />
    <div class="form-actions no-color">
        <input type="submit" asp-action="CheckSync" value="Check Sync" class="btn btn-default" /> |
        <input type="submit" asp-action="Sync" value="Sync" class="btn btn-default" /> |
        <a asp-action="GetAllByTenantID" asp-route-id="@Model.TenantID">Back to Attachments List</a>
    </div>
</form>