@model IEnumerable<SCM.Models.ViewModels.AttachmentViewModel>

@{
    ViewData["Title"] = "Tenant Attachments";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item active">Attachments - [@ViewBag.Tenant.Name]</li>
</ol>

<div id="successMessageContainer" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    <span class="sr-only">Success:</span>
    <span id="successMessage">@Html.Raw(ViewData["SuccessMessage"])</span>
</div>

<div id="errorMessageContainer" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <span id="errorMessage">@Html.Raw(ViewData["ErrorMessage"])</span>
</div>

<h2>Attachments for Tenant '@ViewBag.Tenant.Name'</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Tenant.TenantID" asp-route-tenantID="@ViewBag.Tenant.TenantID">Create New</a>
</p>


<table class="table" id="attachmentsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBundle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMultiPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTagged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLayer3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiresSync)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBundle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMultiPort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTagged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLayer3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vrf.Name)
                </td>
                <td id="requiresSync_@item.AttachmentID">
                    @Html.DisplayFor(modelItem => item.RequiresSync)
                </td>
                <td>
                    <input type="submit" id="Sync_@item.AttachmentID" value="Sync" data-item-val="@item.AttachmentID" class="btn btn-default btn-sync" />
                    <input type="submit" id="CheckSync_@item.AttachmentID" value="Check Sync" data-item-val="@item.AttachmentID" class="btn btn-default btn-checksync" />
                </td>
                <td class="row-spinner spinner-element" id="syncStatus_@item.AttachmentID"></td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AttachmentID, tenantID = item.TenantID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AttachmentID, tenantID = item.TenantID })
                    @if (item.IsBundle)
                    {
                        <span>|</span> @Html.ActionLink("Member Ports", "GetBundleInterfaceMembers", new { ID = item.AttachmentID, tenantID= item.TenantID })
                    }
                    @if (item.IsMultiPort)
                    {
                        <span>|</span> @Html.ActionLink("Member Ports", "GetMultiPortMembers", new { ID = item.AttachmentID, tenantID = item.TenantID })
                    }
                    @if (item.IsLayer3)
                    {
                        <span>|</span> @Html.ActionLink("BGP Peers", "GetAllByVrfID", "AttachmentBgpPeer", new { ID = item.Vrf.VrfID, tenantID = item.TenantID })
                    }
                    @if (item.IsTagged)
                    {
                        <span>|</span> @Html.ActionLink("VIFs", "GetAllByAttachmentID", "Vif", new { ID = item.AttachmentID, tenantID = item.TenantID })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" name="TenantID" id="TenantID" value="@ViewBag.Tenant.TenantID" />
<input type="submit" id="CheckSync" value="Check Sync All" class="btn btn-default" /> |
<input type="submit" id="Sync" value="Sync All" class="btn btn-default" /> |
<a asp-controller="Tenant" asp-action="GetAll">Back to Tenants</a>

@section Scripts {

    <script type="text/javascript">

        (function ($) {

            var $tenantID = $('#TenantID'),
                tenantVal = $tenantID[0].value;

            SCM.Utilities.connectToNetworkSyncHub({
                checkSyncUrl: '/Attachment/CheckSync',
                syncUrl: '/Attachment/Sync',
                checkSyncAllUrl: '/Attachment/CheckSyncAllByTenantID',
                syncAllUrl: '/Attachment/SyncAllByTenantID',
                contextVal: tenantVal,
                groupName: 'Tenant_' + tenantVal,
                itemKey: 'AttachmentID'
            });

        }(jQuery));

    </script>
}