@model IEnumerable<SCM.Models.ViewModels.MultiPortMemberViewModel>

@{
    ViewData["Title"] = "Multiport Members";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Attachment/GetAllByTenantID/@ViewBag.Attachment.TenantID">Attachments - [@ViewBag.Attachment.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Multi-Port Members - [@ViewBag.Attachment.Name]</li>
</ol>

<h2>Members of '@ViewBag.Attachment.Name'</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubnetMask)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IpAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubnetMask)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="GetAllByTenantID" asp-route-id="@Context.Request.Query["tenantID"]">Back to Attachments</a>
</div>