@model SCM.Models.ViewModels.VpnViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if (@ViewData["SyncErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["SyncErrorMessage"]</div>
}

@if (@ViewData["SyncSuccessMessage"] != null)
{
    <p class="alert alert-success">@ViewData["SyncSuccessMessage"]</p>
}

<div>
    <h4>VPN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plane.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VpnTenancyType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpnTenancyType.TenancyType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VpnTopologyType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpnTopologyType.TopologyType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
@if (Model.VpnTopologyType.VpnProtocolType.ProtocolType == "IP")
{
        <dt>
            @Html.DisplayNameFor(model => model.IsExtranet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsExtranet)
        </dd>
}
    </dl>
</div>
<form asp-action="Sync">
    <input type="hidden" asp-for="VpnID" name="id" />
    <input type="submit" asp-action="CheckSync" value="Check Sync" class="btn btn-default" /> |
    <input type="submit" value="Sync" class="btn btn-default" /> |
    @Html.ActionLink("Edit", "Edit", new { id = Model.VpnID }) |
    <a asp-action="GetAll">Back to List</a>
</form>
