@model SCM.Models.ViewModels.BgpPeerViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Attachment/GetAllByTenantID/@ViewBag.Vrf.TenantID">Attachments</a></li>
    @if (!string.IsNullOrEmpty(Context.Request.Query["vifID"]))
    {
        <li class="breadcrumb-item"><a href="/Vif/GetAllByAttachmentID/@Context.Request.Query["attachmentID"]">VIFs</a></li>
    }
    <li class="breadcrumb-item"><a href="/BgpPeer/GetAllByVrfID/@ViewBag.Vrf.VrfID">BGP Peers</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>

<h2>Details for BGP Peer '@Model.IpAddress'</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vrf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AutonomousSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AutonomousSystem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaximumRoutes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaximumRoutes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBfdEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBfdEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrf.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.Tenant.Name)
        </dd>
    </dl>
</div>
<div>
    @if (!string.IsNullOrEmpty(Context.Request.Query["vifID"]))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.BgpPeerID, tenantID = Context.Request.Query["tenantID"],
        attachmentID = Context.Request.Query["attachmentID"],
        vifID = Context.Request.Query["vifID"]}) <span>|</span>

        <a asp-action="GetAllByVrfID" asp-controller="BgpPeer" asp-route-id="@Model.VrfID"
           asp-route-tenantID="@Context.Request.Query["tenantID"]"
           asp-route-attachmentID="@Context.Request.Query["attachmentID"]"
           asp-route-vifID="@Context.Request.Query["vifID"]">Back to BGP Peers List</a>
    }
    else
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.BgpPeerID, tenantID = Context.Request.Query["tenantID"] }) 
        <span>|</span>
        <a asp-action="GetAllByVrfID" asp-controller="BgpPeer" asp-route-id="@Model.VrfID" asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to BGP Peers List</a>
    }
</div>
