@model IEnumerable<SCM.Models.ViewModels.BgpPeerViewModel>

@{
    ViewData["Title"] = "GetAllByVrfID";
}

<h2>BGP Peers for VRF @ViewBag.Vrf.Name</h2>
<p>
    @if (ViewContext.HttpContext.Request.Query["tenantContext"] == "True")
    {
            <a asp-action="Create" asp-route-id="@ViewBag.Vrf.VrfID" asp-route-tenantContext="True">Create New</a>
    }
    else if (ViewContext.HttpContext.Request.Query["deviceContext"] == "True")
    {
            <a asp-action="Create" asp-route-id="@ViewBag.Vrf.VrfID" asp-route-deviceContext="True">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vrf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutonomousSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumRoutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBfdEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vrf.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutonomousSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumRoutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBfdEnabled)
            </td>
@if (ViewContext.HttpContext.Request.Query["tenantContext"] == "True")
{
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BgpPeerID, tenantContext = true }) |
                @Html.ActionLink("Details", "Details", new { id = item.BgpPeerID, tenantContext = true }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BgpPeerID, tenantContext = true })
            </td>
}
else if (ViewContext.HttpContext.Request.Query["deviceContext"] == "True")
{
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BgpPeerID, deviceContext = true }) |
                @Html.ActionLink("Details", "Details", new { id = item.BgpPeerID, deviceContext = true }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BgpPeerID, deviceContext = true })
           </td>
}
        </tr>
        }
    </tbody>
</table>
<div>
    @if (ViewContext.HttpContext.Request.Query["tenantContext"] == "True")
    {
        <a asp-action="GetAllByTenantID" asp-controller="Vrf" asp-route-id="@ViewBag.Vrf.TenantID">Back to Tenant VRFs</a>
    }
    else if (ViewContext.HttpContext.Request.Query["deviceContext"] == "True")
    {
        <a asp-action="GetAllByDeviceID" asp-controller="Vrf" asp-route-id="@ViewBag.Vrf.DeviceID">Back to Device VRFs</a>
    }
</div>
