@model IEnumerable<SCM.Models.ViewModels.BgpPeerViewModel>

@{
    ViewData["Title"] = "GetAllByVrfID";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Attachment/GetAllByTenantID/@ViewBag.Vrf.TenantID">Attachments</a></li>
    @if (!string.IsNullOrEmpty(Context.Request.Query["vifID"]))
    {
        <li class="breadcrumb-item"><a href="/Vif/GetAllByAttachmentID/@Context.Request.Query["attachmentID"]">VIFs</a></li>
    }
    <li class="breadcrumb-item active">BGP Peers</li>
</ol>

<h2>BGP Peers for VRF '@ViewBag.Vrf.Name'</h2>
<p>
    @if (!string.IsNullOrEmpty(Context.Request.Query["vifID"]))
    {
    <a asp-action="Create" asp-route-id="@ViewBag.Vrf.VrfID" asp-route-tenantID="@Context.Request.Query["tenantID"]"
       asp-route-attachmentID="@Context.Request.Query["attachmentID"]" asp-route-vifID = "@Context.Request.Query["vifID"]">Create New</a>
    }
    else
    {
    <a asp-action="Create" asp-route-id="@ViewBag.Vrf.VrfID" asp-route-tenantID = "@Context.Request.Query["tenantID"]"
       asp-route-attachmentID = "@Context.Request.Query["attachmentID"]">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vrf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutonomousSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumRoutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBfdEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vrf.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutonomousSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumRoutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBfdEnabled)
            </td>
            <td>
            @if (!string.IsNullOrEmpty(Context.Request.Query["vifID"]))
            {
            @Html.ActionLink("Edit", "Edit", new { id = item.BgpPeerID, tenantID = Context.Request.Query["tenantID"],
               attachmentID = Context.Request.Query["attachmentID"],
               vifID = Context.Request.Query["vifID"] }) <span>|</span>
           
            @Html.ActionLink("Details", "Details", new { id = item.BgpPeerID, tenantID = @Context.Request.Query["tenantID"],
               attachmentID = Context.Request.Query["attachmentID"],
               vifID = Context.Request.Query["vifID"] }) <span>|</span>
                
            @Html.ActionLink("Delete", "Delete", new { id = item.BgpPeerID, tenantID = @Context.Request.Query["tenantID"],
               attachmentID = Context.Request.Query["attachmentID"],
               vifID = Context.Request.Query["vifID"] })
            }
            else
            {
                @Html.ActionLink("Edit", "Edit", new
           {
               id = item.BgpPeerID,
               tenantID = Context.Request.Query["tenantID"]
           }) <span>|</span>

                @Html.ActionLink("Details", "Details", new
               {
                   id = item.BgpPeerID,
                   tenantID = @Context.Request.Query["tenantID"]
               }) <span>|</span>

                @Html.ActionLink("Delete", "Delete", new
               {
                   id = item.BgpPeerID,
                   tenantID = @Context.Request.Query["tenantID"]
               })
            }
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
@if (!string.IsNullOrEmpty(Context.Request.Query["vifID"]))
{
    <a asp-action="GetAllByAttachmentID" asp-controller="Vif" asp-route-id="@Context.Request.Query["attachmentID"]"
       asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to VIFs</a>

}
else
{
    <a asp-action="GetAllByTenantID" asp-controller="Attachment" asp-route-id="@ViewBag.Vrf.TenantID" 
       asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to Attachments</a>
}
</div>
