@model SCM.Models.ViewModels.AttachmentOrVifViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentOrVif/GetAllByVpnID/@Context.Request.Query["vpnID"]">Attachments and VIFs</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>

@if (Model.IsVif)
{
    <h2>Details for VIF '@Model.VifName'</h2>
}
else
{
    <h2>Details for Attachment '@Model.AttachmentName'</h2>
}

@if (@ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@Html.Raw(ViewData["ErrorMessage"])</div>
}

@if (@ViewData["SuccessMessage"] != null)
{
    <p class="alert alert-success">@Html.Raw(ViewData["SuccessMessage"])</p>
}

<div>
    <hr />
    <dl class="dl-horizontal">
@if (Model.IsVif)
{
        <dt>
            @Html.DisplayNameFor(model => model.VifName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VifName)
        </dd>
}
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentIsBundle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentIsBundle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentIsMultiPort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentIsMultiPort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlaneName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaneName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterfaceBandwidthValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterfaceBandwidthValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractBandwidthPoolName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractBandwidthPoolName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractBandwidthValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractBandwidthValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VrfName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VrfName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubnetMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubnetMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiresSync)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiresSync)
        </dd>
    </dl>
</div>
<form asp-action="">
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="IsVif" />
    <input type="hidden" asp-for="AttachmentIsBundle" />
    <input type="hidden" asp-for="AttachmentIsMultiPort" />
    <div class="form-actions no-color">
        <input type="submit" asp-action="CheckSync" asp-route-vpnID ="@Context.Request.Query["vpnID"]" value="Check Sync" class="btn btn-default" /> |
        <input type="submit" asp-action="Sync" asp-route-vpnID ="@Context.Request.Query["vpnID"]" value="Sync" class="btn btn-default" /> |
        <a asp-action="GetAllByVpnID" asp-route-id="@Context.Request.Query["vpnID"]">Back to Attachment and VIFs List</a>
    </div>
</form>