@model SCM.Models.ViewModels.VpnTenantNetworkViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPNs</a></li>
    <li class="breadcrumb-item"><a href="/VpnAttachmentSet/GetAllByVpnID/@Model.VpnAttachmentSet.Vpn.VpnID">VPN Attachment Sets</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantNetwork/GetAllByVpnAttachmentSetID/@Model.VpnAttachmentSet.VpnAttachmentSetID">VPN Tenant Networks</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>

<h2>Details</h2>

<div>
    <h4>Tenant Network for VPN '@Model.VpnAttachmentSet.Vpn.Name'</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantNetwork.IpPrefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantNetwork.IpPrefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantNetwork.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantNetwork.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VpnAttachmentSet.Vpn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpnAttachmentSet.Vpn.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VpnAttachmentSet.AttachmentSet.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpnAttachmentSet.AttachmentSet.Tenant.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetAllByVpnAttachmentSetID" asp-route-id="@Model.VpnAttachmentSetID">Back to List</a>
</div>
