@model IEnumerable<SCM.Models.ViewModels.VpnViewModel>

@{
    ViewData["Title"] = "VPNs";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@ViewBag.AttachmentSet.TenantID">Attachment Sets - [@ViewBag.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">VPNs - [@ViewBag.AttachmentSet.Name]</li>
</ol>

<div id="successMessageContainer" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    <span class="sr-only">Success:</span>
    <span id="successMessage">@Html.Raw(ViewData["SuccessMessage"])</span>
</div>

<div id="errorMessageContainer" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <span id="errorMessage">@Html.Raw(ViewData["ErrorMessage"])</span>
</div>

<h2>VPNs for Attachment Set '@ViewBag.AttachmentSet.Name'</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VpnTenancyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VpnTopologyType.VpnProtocolType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VpnTopologyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiresSync)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="@item.VpnID">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plane.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VpnTenancyType.TenancyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VpnTopologyType.VpnProtocolType.ProtocolType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VpnTopologyType.TopologyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.Name)
            </td>
            <td id="requiresSync_@item.VpnID">
                @Html.DisplayFor(modelItem => item.RequiresSync)
            </td>
            <td class="row-spinner spinner-element" id="syncStatus_@item.VpnID">
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { VpnID = item.VpnID, AttachmentSetID = ViewBag.AttachmentSet.AttachmentSetID } )
            </td>
        </tr>
}
    </tbody>
</table>
<input type="hidden" name="AttachmentSetID" id="AttachmentSetID" value="@ViewBag.AttachmentSet.AttachmentSetID" />
<input type="submit" id="CheckSync" asp-action="CheckSyncAllByAttachmentSetID" value="Check Sync All" class="btn btn-default" /> |
<input type="submit" id="Sync" asp-action="SyncAllByAttachmentSetID" value="Sync All" class="btn btn-default" /> |
<a asp-action="GetAllByTenantID" asp-controller="AttachmentSet" asp-route-id="@ViewBag.AttachmentSet.TenantID">Back to Attachment Sets</a>

@section Scripts {

    <script type="text/javascript">

        (function ($) {

            var $attachmentSetID = $('#AttachmentSetID'),
                attachmentSetVal = $attachmentSetID[0].value;

            SCM.Utilities.connectToNetworkSyncHub({
                checkSyncUrl: '/AttachmentSetVpn/CheckSyncAllByAttachmentSetID',
                syncUrl: '/AttachmentSetVpn/SyncAllByAttachmentSetID',
                contextVal: attachmentSetVal,
                groupName: 'AttachmentSet_' + attachmentSetVal,
                itemKey: 'VpnID'
            });

        }(jQuery));

    </script>
}
