@model SCM.Models.ViewModels.BgpPeerViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Attachment/GetAllByTenantID/@ViewBag.Vif.TenantID">Attachments - [@ViewBag.Vif.Attachment.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/Vif/GetAllByAttachmentID/@ViewBag.Vif.AttachmentID">VIFs - [@ViewBag.Vif.Attachment.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VifBgpPeer/GetAllByVrfID/@ViewBag.Vif.VrfID">BGP Peers - [@ViewBag.Vif.Name]</a></li>
    <li class="breadcrumb-item active">Details - [@Model.IpAddress]</li>
</ol>

<h2>Details for BGP Peer '@Model.IpAddress'</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vrf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AutonomousSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AutonomousSystem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaximumRoutes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaximumRoutes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBfdEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBfdEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrf.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.Tenant.Name)
        </dd>
    </dl>
</div>
<div>

        @Html.ActionLink("Edit", "Edit", new { id = Model.BgpPeerID }) |
        <a asp-action="GetAllByVrfID" asp-route-id="@Model.VrfID">Back to BGP Peers List</a>   
</div>
