@model SCM.Models.ViewModels.VpnAttachmentSetViewModel

@{
    ViewData["Title"] = "Remove";
}

<h2>Remove</h2>

@if (@ViewData["ConcurrencyErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ConcurrencyErrorMessage"]</div>
}


<h3>Are you sure you want to remove this Attachment Set from the VPN?</h3>
<div>
    <h4>VRF</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vpn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vpn.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentSet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentSet.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VpnAttachmentSetID" />
        <input type="hidden" asp-for="VpnID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            <a asp-action="GetAllByVpnID" asp-route-id="@Model.Vpn.VpnID">Back to Attachment Sets</a>
        </div>
    </form>
</div>
