@model SCM.Models.ViewModels.AttachmentSetVrfSelectionViewModel

@{
    ViewData["Title"] = "CreateStep1";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@ViewBag.AttachmentSet.TenantID">Attachment Sets</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSetVrf/GetAllByAttachmentSetID/@ViewBag.AttachmentSet.AttachmentSetID">Attachment Set VRFs</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>VRF</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="TenantID" value="@ViewBag.AttachmentSet.TenantID" />
        <input type="hidden" asp-for="AttachmentSetID" value="@ViewBag.AttachmentSet.AttachmentSetID" />
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID">
                    <option value="">-- Select Location --</option>
                </select>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Plane" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PlaneID" class="form-control" asp-items="ViewBag.PlaneID">
                    <option value="">-- Optionally select a Plane --</option>
                </select>
                <span asp-validation-for="PlaneID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" asp-action="CreateStep2" asp-route-tenantID="@Context.Request.Query["tenantID"]" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByAttachmentSetID" asp-route-id="@ViewBag.AttachmentSet.AttachmentSetID" asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to VRFs</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
