@model SCM.Models.ViewModels.AttachmentSetVrfViewModel

@{
    ViewData["Title"] = "Remove";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@ViewBag.AttachmentSet.TenantID">Attachment Sets</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSetVrf/GetAllByAttachmentSetID/@ViewBag.AttachmentSet.AttachmentSetID">Attachment Set VRFs</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>

<h2>Remove</h2>

@if (@ViewData["ErrorMessage"] != null)
{
<div class="alert alert-danger">@Html.Raw(ViewData["ErrorMessage"])</div>
}

<h3>Are you sure you want to remove this VRF from the Attachment Set?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attachment.Vrf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attachment.Vrf.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentSet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentSet.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AttachmentSetVrfID" />
        <input type="hidden" asp-for="AttachmentSetID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <input type="submit" value="Remove" asp-route-tenantID = "@Context.Request.Query["tenantID"]"  class="btn btn-default" /> |
            <a asp-action="GetAllByAttachmentSetID" asp-route-id="@ViewBag.AttachmentSet.AttachmentSetID" asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to VRFs</a>
        </div>
    </form>
</div>
