@model SCM.Models.ViewModels.AttachmentSetVrfViewModel

@{
    ViewData["Title"] = "VRF Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@ViewBag.AttachmentSet.TenantID">Attachment Sets</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSetVrf/GetAllByAttachmentSetID/@ViewBag.AttachmentSet.AttachmentSetID">Attachment Set VRFs</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>

<h2>Details for VRF '@Model.Vrf.Name'</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vrf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentSet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentSet.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractBandwidthPoolName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractBandwidthPoolName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentSet.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentSet.Tenant.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrf.Device.Location.SubRegion.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubRegionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubRegionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationSiteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationSiteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlaneName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaneName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentOrVifName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentOrVifName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttachmentSetVrfID, tenantID = Context.Request.Query["tenantID"] }) |
    <a asp-action="GetAllByAttachmentSetID" asp-route-id="@ViewBag.AttachmentSet.AttachmentSetID" asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to VRFs</a>
</div>
