@model IEnumerable<SCM.Models.ViewModels.AttachmentSetVrfViewModel>

@{
    ViewData["Title"] = "GetAllByAttachmentSetID";
}

<h2>VRFs for Attachment Set @ViewBag.AttachmentSet.Name</h2>

<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

@if (@ViewData["ValidationSuccessMessage"] != null) {
<div class="alert alert-success">@ViewData["ValidationSuccessMessage"]</div>
}

<p>
    <a asp-action="CreateStep1" asp-route-id="@ViewBag.AttachmentSet.AttachmentSetID">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attachment.Vrf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment.ContractBandwidthPool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment.Vrf.Device.Location.SubRegion.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment.Vrf.Device.Location.SubRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment.Vrf.Device.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment.Vrf.Device.Plane)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment.Vrf.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment.ContractBandwidthPool.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment.Vrf.Device.Location.SubRegion.Region.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment.Vrf.Device.Location.SubRegion.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment.Vrf.Device.Location.SiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment.Vrf.Device.Plane.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AttachmentSetVrfID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AttachmentSetVrfID }) |
                @Html.ActionLink("Remove", "Delete", new { id = item.AttachmentSetVrfID })
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-controller="AttachmentSet" asp-action="GetAll" >Back to Attachment Sets</a>
