@model SCM.Models.ViewModels.TenantAttachmentsViewModel

@{
    ViewData["Title"] = "GetByTenantID";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item active">Attachments</li>
</ol>

<h2>Attachments for Tenant @ViewBag.Tenant.Name</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Tenant.TenantID" asp-controller="Attachment">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttachmentInterfaces.FirstOrDefault().Port.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttachmentInterfaces.FirstOrDefault().Port.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttachmentInterfaces.FirstOrDefault().Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttachmentInterfaces.FirstOrDefault().Device)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttachmentInterfaces.FirstOrDefault().Vrf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttachmentInterfaces.FirstOrDefault().Bandwidth)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.AttachmentInterfaces)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Port.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vrf.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bandwidth.BandwidthGbps)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Attachment", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", "Attachment", new { ID = item.ID, TenantID = item.TenantID })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Tenant" asp-action="GetAll">Back to Tenants</a>
</div>