@model SCM.Models.ViewModels.VifRequestViewModel

@{
    ViewData["Title"] = "Create";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Attachment/GetAllByTenantID/@ViewBag.Attachment.TenantID">Attachments</a></li>
    <li class="breadcrumb-item"><a href="/Vif/GetAllByAttachmentID/@ViewBag.Attachment.ID?attachmentIsMultiPort=@ViewBag.Attachment.IsMultiPort">VIFs</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Create VIF for Attachment '@ViewBag.Attachment.Name'</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="AttachmentID" value="@ViewBag.Attachment.ID" />
        <input type="hidden" asp-for="AttachmentIsMultiPort" value="@ViewBag.Attachment.IsMultiPort" />
        @if (ViewBag.Attachment.IsMultiPort)
        {
        <input type="hidden" id ="MultiPortMemberPortsCount" value="@ViewBag.Attachment.MultiPortMembers.Count" />
        }
        <div class="form-group">
            <label asp-for="Tenant" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TenantID" class="form-control" asp-items="ViewBag.TenantID">
                    <option value="">-- Select Tenant --</option>
                </select>
                <span asp-validation-for="TenantID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractBandwidthPool" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ContractBandwidthPoolID" class="form-control" asp-items="ViewBag.ContractBandwidthPoolID">
                    <option value="">Select Contract Bandwidth Pool</option>
                </select>
                <span asp-validation-for="ContractBandwidthPoolID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AutoAllocateVlanTag" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AutoAllocateVlanTag" class="checkbox"/>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RequestedVlanTag" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RequestedVlanTag" class="form-control" />
                <span asp-validation-for="RequestedVlanTag" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsLayer3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsLayer3" class="checkbox" />
            </div>
        </div>
        <div id="L3Components1">
            <div class="form-group">
                <label asp-for="IpAddress1" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress1" class="form-control" />
                    <span asp-validation-for="IpAddress1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask1" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask1" class="form-control" />
                    <span asp-validation-for="SubnetMask1" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="L3Components2">
            <div class="form-group">
                <label asp-for="IpAddress2" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress2" class="form-control" />
                    <span asp-validation-for="IpAddress2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask2" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask2" class="form-control" />
                    <span asp-validation-for="SubnetMask2" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="L3Components4">
            <div class="form-group">
                <label asp-for="IpAddress3" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress3" class="form-control" />
                    <span asp-validation-for="IpAddress3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask3" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask3" class="form-control" />
                    <span asp-validation-for="SubnetMask3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IpAddress4" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="IpAddress4" class="form-control" />
                    <span asp-validation-for="IpAddress4" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubnetMask4" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SubnetMask4" class="form-control" />
                    <span asp-validation-for="SubnetMask4" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByAttachmentID" asp-route-id = "@ViewBag.Attachment.ID" asp-route-attachmentIsMultiPort = "@ViewBag.Attachment.IsMultiPort" >Back to VIFs List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
    <script type="text/javascript">

        (function ($) {

            var $isLayer3 = $('#IsLayer3'),
            isLayer3 = $isLayer3[0],
            $contractBandwidthPool = $('#ContractBandwidthPoolID'),
            contractBandwidthPool = $contractBandwidthPool[0],
            $tenant = $('#TenantID'),
            tenant = $tenant[0],
            $autoAllocateVlanTag = $('#AutoAllocateVlanTag'),
            autoAllocateVlanTag = $autoAllocateVlanTag[0];
            $requestedVlanTag = $('#RequestedVlanTag'),
            requestedVlanTag = $requestedVlanTag[0],
            $attachmentIsMultiPort = $('#AttachmentIsMultiPort'),
            attachmentIsMultiPort = $attachmentIsMultiPort[0],
            $l3Components1 = $('#L3Components1'),
            $l3Components2 = $('#L3Components2'),
            $l3Components4 = $('#L3Components4');

            if (autoAllocateVlanTag.checked) {

                requestedVlanTag.value = null;
                requestedVlanTag.disabled = true;
            }
            else {

                requestedVlanTag.disabled = false;
            }

            $autoAllocateVlanTag.on('click', function (e) {

                if (this.checked) {

                    requestedVlanTag.value = null;
                    requestedVlanTag.disabled = true;
                }
                else {

                    requestedVlanTag.disabled = false;
                }
            });

            showHideL3Components();

            $isLayer3.on('click', function (e) {

                showHideL3Components();
            });

            $tenant.on('change', function (e) {

                var tenantID = this.value;

                $.get("/Vif/ContractBandwidthPools", { id: tenantID })
                .done(function (data) {
                    $contractBandwidthPool.html(data);
                });
            });

            function showHideL3Components() {

                $l3Components1.fadeOut();
                $l3Components2.fadeOut();
                $l3Components4.fadeOut();

                if (!isLayer3.checked) {

                    return;
                }

                $l3Components1.fadeIn();

                if (attachmentIsMultiPort.value == 'True') {

                    $l3Components2.fadeIn();

                    var $multiPortMemberPortsCount = $('#MultiPortMemberPortsCount'),
                    multiPortMemberPortsCount = $multiPortMemberPortsCount[0];

                    if (multiPortMemberPortsCount.value == 4) {

                        $l3Components4.fadeIn();
                    }
                }
            }

        }(jQuery));

    </script>
}