@model SCM.Models.ViewModels.VifViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Attachment/GetAllByTenantID/@ViewBag.Attachment.TenantID">Attachments</a></li>
    <li class="breadcrumb-item"><a href="/Vif/GetAllByAttachmentID/@ViewBag.Attachment.AttachmentID">VIFs</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>

@if (@ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@Html.Raw(ViewData["ErrorMessage"])</div>
}

@if (@ViewData["SuccessMessage"] != null)
{
    <p class="alert alert-success">@Html.Raw(ViewData["SuccessMessage"])</p>
}


<h2>Details for VIF '@Model.Name'</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLayer3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLayer3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VlanTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlanTag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractBandwidthPool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractBandwidthPool.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractBandwidthPool.ContractBandwidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractBandwidthPool.ContractBandwidth.BandwidthMbps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrf.AdministratorSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.AdministratorSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrf.AssignedNumberSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrf.AssignedNumberSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubnetMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubnetMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiresSync)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiresSync)
        </dd>
    </dl>
</div>
<form asp-action="">
    <input type="hidden" asp-for="VifID"  name="id" />
    <div class="form-actions no-color">
        <input type="submit" id="CheckSync" asp-action="CheckSync" value="Check Sync" class="btn btn-default" /> |
        <input type="submit" id="Sync" asp-action="Sync" value="Sync" class="btn btn-default" /> |
        <a asp-action="GetAllByAttachmentID" asp-route-id="@Model.AttachmentID">Back to VIFs List</a>
    </div>
</form>
@section Scripts {

    <script type="text/javascript">

        (function ($) {

            var $sync = $('#Sync');
            var $checkSync = $('#CheckSync');

            $sync.on('click', function (e) {

                SCM.Utilities.showSpinner($('body')[0]);
            });

            $checkSync.on('click', function (e) {

                SCM.Utilities.showSpinner($('body')[0]);
            });

        }(jQuery));

    </script>
}