@model IEnumerable<SCM.Models.ViewModels.VifViewModel>

@{
    ViewData["Title"] = "VIFs";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Attachment/GetAllByTenantID/@ViewBag.Attachment.TenantID">Attachments - [@ViewBag.Attachment.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">VIFs - [@ViewBag.Attachment.Name]</li>
</ol>

@if (@ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@Html.Raw(ViewData["SuccessMessage"])</div>
}

@if (@ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@Html.Raw(ViewData["ErrorMessage"])</div>
}

<h2>VIFs for Attachment '@ViewBag.Attachment.Name'</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Attachment.AttachmentID" asp-route-attachmentIsMultiPort="@ViewBag.Attachment.IsMultiPort" 
       asp-route-tenantID="@ViewBag.Attachment.TenantID">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VlanTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractBandwidthPool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiresSync)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VlanTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vrf.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractBandwidthPool.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiresSync)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.VifID, attachmentIsMultiPort = ViewBag.Attachment.IsMultiPort, tenantID = item.TenantID }) |
                    @Html.ActionLink("Delete", "Delete", new
               {
                   ID = item.VifID,
                   attachmentID = ViewBag.Attachment.AttachmentID,
                   tenantID = item.TenantID
               })
                    @if (ViewBag.Attachment.IsMultiPort)
                    {
                        <span>|</span> <a asp-action="GetMultiPortVlansByVifID" asp-route-id="@item.VifID">MultiPort Vlans</a>
                    }
                    @if (item.IsLayer3)
                    {
                        <span>|</span> @Html.ActionLink("BGP Peers", "GetAllByVrfID", "VifBgpPeer", new { ID = item.Vrf.VrfID, tenantID = item.TenantID })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="Sync">
    <input type="hidden" name="id" value="@ViewBag.Attachment.AttachmentID" />
    <input type="submit" id="CheckSync" asp-action="CheckSyncAllByAttachmentID" value="Check Sync All" class="btn btn-default" /> |
    <input type="submit" id="Sync" asp-action="SyncAllByAttachmentID" value="Sync All" class="btn btn-default" /> |
    <a asp-controller="Attachment" asp-action="GetAllByTenantID" asp-route-id="@ViewBag.Attachment.TenantID">Back to Attachments</a>
</form>
@section Scripts {

    <script type="text/javascript">

        (function ($) {

            var $sync = $('#Sync');
            var $checkSync = $('#CheckSync');

            $sync.on('click', function (e) {

                SCM.Utilities.showSpinner($('body')[0]);
            });

            $checkSync.on('click', function (e) {

                SCM.Utilities.showSpinner($('body')[0]);
            });

        }(jQuery));

    </script>
}
