@model SCM.Models.ViewModels.TenantCommunityViewModel

@{
    ViewData["Title"] = "Create";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantCommunity/GetAllByTenantID/@ViewBag.Tenant.TenantID">Communities</a></li>
    <li class="breadcrumb-item active">Create</li>
</ol>

<h2>Create Community for Tenant '@ViewBag.Tenant.Name'</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Tenant Network</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="TenantID" value="@ViewBag.Tenant.TenantID" />
        <div class="form-group">
            <label asp-for="AutonomousSystemNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AutonomousSystemNumber" class="form-control" />
                <span asp-validation-for="AutonomousSystemNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AllowExtranet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AllowExtranet" class="checkbox" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" asp-route-tenantID = "@Context.Request.Query["tenantID"]" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByTenantID" asp-route-id="@ViewBag.Tenant.TenantID" asp-route-tenantID = "@Context.Request.Query["tenantID"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
