@model SCM.Models.ViewModels.ContractBandwidthPoolViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details for Contract Bandwidth Pool '@Model.Name'</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractBandwidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractBandwidth.BandwidthMbps)
        </dd>
    </dl>
</div>
<form asp-action="">
    <input type="hidden" asp-for="ContractBandwidthPoolID" name="id"/>
    <div class="form-actions no-color">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ContractBandwidthPoolID, tenantID = Context.Request.Query["tenantID"] }) |
        <a asp-action="GetAllByTenantID" asp-route-id="@Model.TenantID" asp-route-tenantID="@Context.Request.Query["tenantID"]">Back to List</a>
    </div>
</form>
