@model IEnumerable<SCM.Models.ViewModels.PortViewModel>

@{
    ViewData["Title"] = "GetAllByDeviceID";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Device/GetAll">Devices</a></li>
    <li class="breadcrumb-item active">Ports</li>
</ol>

<h2>Ports for '@ViewBag.Device.Name'</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Device.ID"  >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id= item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Device" asp-action="GetAll">Back to Devices List</a>
</div>
