@model SCM.Models.ViewModels.VrfViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<p class="text-danger">@ViewData["ConcurrencyErrorMessage"]</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Port</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdministratorSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdministratorSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedNumberSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedNumberSubField)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VrfID" />
        <input type="hidden" asp-for="DeviceID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="GetAllByDeviceID" asp-route-id ="@Model.DeviceID">Back to List</a>
        </div>
    </form>
</div>
