@model SCM.Models.ViewModels.VrfViewModel

@{
    ViewData["Title"] = "Details";
}

@{
    if (ViewContext.HttpContext.Request.Query["tenantContext"] == "True")
        {

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/Vrf/GetAllByTenantID/@Model.TenantID">Tenant VRFs</a></li>
    <li class="breadcrumb-item active">VRF Details</li>
</ol>
        }
    }

<h2>Details</h2>

<div>
    <h4>VRF</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Device.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdministratorSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdministratorSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedNumberSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedNumberSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VrfID }) |
    <a asp-action="GetAllByDeviceID" asp-route-id = "@Model.DeviceID">VRFs List</a>
</div>
