@model IEnumerable<SCM.Models.ViewModels.VrfViewModel>

@{
    ViewData["Title"] = "GetAllByDeviceID";
}

<h2>VRFs for @ViewBag.Device.Name</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Device.ID"  >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdministratorSubField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedNumberSubField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministratorSubField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedNumberSubField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VrfID }) |
                @Html.ActionLink("Details", "Details", new { id = item.VrfID }) |
                @Html.ActionLink("Delete", "Delete", new { id= item.VrfID })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Device" asp-action="GetAll" asp-route-id="@ViewBag.Device.ID">Back to Devices List</a>
</div>
